{% extends 'utilizador/layout.html' %}
{% block content %}

{% load crispy_forms_tags %}

{% load fegt9_mpg_proteksaun_url %}


		<!-- ============================================================== -->
						<!-- pageheader  -->
						<!-- ============================================================== -->
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="page-header">
									<h2 class="pageheader-title">Travel Detail  </h2>
									<p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
									<div class="page-breadcrumb">
										<nav aria-label="breadcrumb">
											<ol class="breadcrumb">
												<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">CVTL</a></li>
												<li class="breadcrumb-item active" aria-current="page">Hris Painel</li>
											</ol>

                                            
										</nav>
									</div>
								</div>
							</div>
						</div>
						<!-- ============================================================== -->
						<!-- end pageheader  -->
						<!-- ============================================================== -->
						<div class="ecommerce-widget">
	
				
                            <div class="row">
                                <div class="  col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="card">
                                        <div class="card-header p-4">
                                             <a class="pt-2 d-inline-block" href="index.html">
												<b>Titulu </b> : {{travelautorization.departure_date}} <br>
												<b>Atividade :</b> {{travelautorization.place_of_departure}} <br> <b>Project :</b> {{travelautorization.return_date}} </a>
                                           
                                            <div class="float-right"> <h3 class="mb-0">Purchase Request</h3>
												{{travelautorization.request_date}}</div>
                                        </div>
                                        <div class="card-body">
                                       <legend>
										<h5 class="card-header">Car Request  <a href="{% url 'travel:addcarrequest'  travelautorization.id|encrypt_id_tag  %}" class="btn btn-primary btn-sm float-right ">  <i class="far fa-paper-plane"></i> Add Car</a></h5>

                                        
									   </legend>
									   <div class="table-responsive">
										<table class="table table-sm table-bordered">
											<thead class="bg-light">
												<tr class="border-0">
													<th class="border-0">Nu</th>
													<th class="border-0"> Car</th>
											
													<th class="border-0">Driver</th>
													<th class="border-0">#</th>
											
												</tr>
											</thead>
											<tbody>
	
												{% for dados in carRequest %}
												<tr>
												
													<td>{{forloop.counter}}</td>
													<td>{{dados.car}}</td>
				
													<td>{{dados.driver}}</td>
							
											
													<td>
	
	
														
	
													 <!-- <a href="{% url 'rekrutamentu:publikavaga' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class=" fas fa-volume-up"></i> Publika vaga</a> -->
													 <a href="{% url 'travel:editcarrequest' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-edit"></i> </a>
													 <!-- <a href="{% url 'rekrutamentu:publikavaga' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-trash"></i> </a> -->
													  <a href="{% url 'travel:apagacarrequest' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-trash"></i> </a>

													 
	
													</td>
												</tr>
												{% endfor %}
											
											</tbody>
										</table>


									   </div>
									  
                                        </div>
										
                                        <div class="card-body">
											<legend>
											 <h5 class="card-header">Person Traveling  <a href="{% url 'travel:addpersontraveling'  travelautorization.id|encrypt_id_tag  %}" class="btn btn-primary btn-sm float-right ">  <i class="far fa-paper-plane"></i> Add Person</a></h5>
	 
											 
											</legend>
											<div class="table-responsive">
											 <table class="table table-sm table-bordered">
												 <thead class="bg-light">
													 <tr class="border-0">
														 <th class="border-0">Nu</th>
														 <th class="border-0"> Employee</th>
														 <th class="border-0">#</th>
												 
													 </tr>
												 </thead>
												 <tbody>
		 
													 {% for dados in personTraveling %}
													 <tr>
													 
														 <td>{{forloop.counter}}</td>
														 <td>{{dados.employee}}</td>
								 
												 
														 <td>
		 
		 
															 
		 
														  <!-- <a href="{% url 'rekrutamentu:publikavaga' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class=" fas fa-volume-up"></i> Publika vaga</a> -->
														  <a href="{% url 'travel:editpersontraveling' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-edit"></i> </a>
														  <!-- <a href="{% url 'rekrutamentu:publikavaga' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-trash"></i> </a> -->
														   <a href="{% url 'travel:apagapersontraveling' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-trash"></i> </a>
	 
														  
		 
														 </td>
													 </tr>
													 {% endfor %}
												 
												 </tbody>
											 </table>
	 
	 
											</div>
										   
											 </div>
										
											 <div class="card-body">
												 <legend>
												  <h5 class="card-header">Route Traveling  <a href="{% url 'travel:addroutetraveling'  travelautorization.id|encrypt_id_tag  %}" class="btn btn-primary btn-sm float-right ">  <i class="far fa-paper-plane"></i> Add Route</a></h5>
		  
												  
												 </legend>
												 <div class="table-responsive">
												  <table class="table table-sm table-bordered">
													  <thead class="bg-light">
														  <tr class="border-0">
															  <th class="border-0">Nu</th>
															  <th class="border-0"> Munisipiu</th>
															  <th class="border-0"> Deskrisaun</th>
															  <th class="border-0">#</th>
													  
														  </tr>
													  </thead>
													  <tbody>
			  
														  {% for dados in routeTraveling %}
														  <tr>
														  
															  <td>{{forloop.counter}}</td>
															  <td>{{dados.munispiu}}</td>
															  <td>{{dados.deskrisaun}}</td>
									  
													  
															  <td>
			  
			  
																  
			  
															   <!-- <a href="{% url 'rekrutamentu:publikavaga' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class=" fas fa-volume-up"></i> Publika vaga</a> -->
															   <a href="{% url 'travel:editroutetraveling' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-edit"></i> </a>
															   <!-- <a href="{% url 'rekrutamentu:publikavaga' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-trash"></i> </a> -->
																<a href="{% url 'travel:apagaroutetraveling' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-trash"></i> </a>
		  
															   
			  
															  </td>
														  </tr>
														  {% endfor %}
													  
													  </tbody>
												  </table>
		  
		  
												 </div>
												
												  </div>
										
												  <div class="card-body">
													  <legend>
													   <h5 class="card-header">Mission  <a href="{% url 'travel:addmissiontraveling'  travelautorization.id|encrypt_id_tag  %}" class="btn btn-primary btn-sm float-right ">  <i class="far fa-paper-plane"></i> Add Mission</a></h5>
			   
													   
													  </legend>
													  <div class="table-responsive">
													   <table class="table table-sm table-bordered">
														   <thead class="bg-light">
															   <tr class="border-0">
																   <th class="border-0">Nu</th>
																   <th class="border-0"> Mission</th>
																   <th class="border-0">#</th>
														   
															   </tr>
														   </thead>
														   <tbody>
				   
															   {% for dados in missionTraveling %}
															   <tr>
															   
																   <td>{{forloop.counter}}</td>
																   <td>{{dados.mission}}</td>
										   
														   
																   <td>
				   
				   
																	   
				   
																	<!-- <a href="{% url 'rekrutamentu:publikavaga' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class=" fas fa-volume-up"></i> Publika vaga</a> -->
																	<a href="{% url 'travel:editmissiontraveling' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-edit"></i> </a>
																	<!-- <a href="{% url 'rekrutamentu:publikavaga' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-trash"></i> </a> -->
																	 <a href="{% url 'travel:apagamissiontraveling' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-trash"></i> </a>
			   
																	
				   
																   </td>
															   </tr>
															   {% endfor %}
														   
														   </tbody>
													   </table>
			   
			   
													  </div>
													 
													   </div>

                                        <div class="card-footer bg-white">
                                            <p class="mb-0">2983 Glenview Drive Corpus Christi, TX 78476</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
						


							<div class="row">
                                <div class="  col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="card">
                               
                                        <div class="card-body" style="background-color: #efeff6;">
                              
								

			{% include 'timeline.html' %}
									   </div>
									  
                                        </div>
                                        <div class="card-footer bg-white">
                                            <p class="mb-0">2983 Glenview Drive Corpus Christi, TX 78476</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
						</div>



{% endblock content %}