{% extends 'utilizador/layout.html' %}
{% block content %}

{% load crispy_forms_tags %}

{% load fegt9_mpg_proteksaun_url %}


		<!-- ============================================================== -->
						<!-- pageheader  -->
						<!-- ============================================================== -->
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="page-header">
									<h2 class="pageheader-title">Travel Detail  </h2>
									<p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
									<div class="page-breadcrumb">
										<nav aria-label="breadcrumb">
											<ol class="breadcrumb">
												<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">CVTL</a></li>
												<li class="breadcrumb-item active" aria-current="page">Hris Painel</li>
											</ol>

                                            
										</nav>
									</div>
								</div>
							</div>
						</div>
						<!-- ============================================================== -->
						<!-- end pageheader  -->
						<!-- ============================================================== -->
						<div class="ecommerce-widget">
	
				
                            <div class="row">
                                <div class="  col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="card">
                                        <div class="card-header p-4">
                                             <a class="pt-2 d-inline-block" href="index.html">
												<b>Place of Departure </b> : {{travelautorization.place_of_departure}} <br>
												<b>Departure Date :</b> {{travelautorization.departure_date}} <br>
												<b>Return Date :</b> {{travelautorization.return_date}} </a>

                                            <div class="float-right">
												<h3 class="mb-0">{{travelautorization.purpose_of_travel}}</h3>
												{{travelautorization.project_name}}<br>
												{{travelautorization.contract}} {{travelautorization.contract.department}}<br>
												Requested at {{travelautorization.created_at}} by {{travelautorization.created_by}}
											</div>
                                        </div>
                                    </div>
                                </div>

								<!-- Simple tabs  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
                            <div class="simple-card">
                                <ul class="nav nav-tabs" id="myTab5" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link {{tab_Person}}" data-toggle="tab" href="{% url 'travel:detallutravelrequesttab' travelautorization.id|encrypt_id_tag 'Person' %}" role="tab" aria-controls="home" aria-selected="true">Person Traveling</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {{tab_Route}}" data-toggle="tab" href="{% url 'travel:detallutravelrequesttab' travelautorization.id|encrypt_id_tag 'Route' %}" role="tab" aria-controls="home" aria-selected="true">Route Travel</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {{tab_Mission}}" data-toggle="tab" href="{% url 'travel:detallutravelrequesttab' travelautorization.id|encrypt_id_tag 'Mission' %}" role="tab" aria-controls="home" aria-selected="true">Mission</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {{tab_Car}}" data-toggle="tab" href="{% url 'travel:detallutravelrequesttab' travelautorization.id|encrypt_id_tag 'Car' %}" role="tab" aria-controls="home" aria-selected="true">Car</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent5">
                                    {% if tab == 'Car' %}
									<legend>
										<h5 class="card-header">Car</h5>
									</legend>
									<div class="table-responsive">
										<table class="table table-sm table-bordered">
											<thead class="bg-light">
												<tr class="border-0">
													<th class="border-0">Nu</th>
													<th class="border-0"> Car</th>
											
													<th class="border-0">Driver</th>
													<th class="border-0">#</th>
											
												</tr>
											</thead>
											<tbody>
												{% if dados %}
													{% for dadoslp in dados %}
													<tr>
														<td>{{forloop.counter}}</td>
														<td>{{dadoslp.car}}</td>
														<td>{{dadoslp.driver}}</td>
														<td>
															{% if travelautorization.is_draft %}
															<a href="{% url 'travel:editcarrequest' dadoslp.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-edit"></i> </a>
															<a href="{% url 'travel:apagacarrequest' dadoslp.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-trash"></i> </a>
															{% else %}
															-
															{% endif %}
														</td>
													</tr>
													{% endfor %}
												{% else %}
													<tr>
														<td colspan="4" align="center">No Car Listed</td>
													</tr>
												{% endif %}
											</tbody>
										</table>
									</div>
									{% elif tab == 'Person' %}
									<legend>
										<h5 class="card-header">Person Traveling {% if travelautorization.is_draft %}<a href="{% url 'travel:addpersontraveling'  travelautorization.id|encrypt_id_tag  %}" class="btn btn-primary btn-sm float-right ">  <i class="far fa-paper-plane"></i> Add Person</a></h5>{% endif %}
									</legend>
									<div class="table-responsive">
										<table class="table table-sm table-bordered">
											<thead class="bg-light">
												<tr class="border-0">
													<th class="border-0">Nu</th>
													<th class="border-0"> Employee</th>
													<th class="border-0">#</th>
												</tr>
											</thead>
											<tbody>
												{% if dados %}
													{% for dadoslp in dados %}
													<tr>
														<td>{{forloop.counter}}</td>
														<td>{{dadoslp.employee}}</td>
														<td>
															{% if travelautorization.is_draft %}
															<a href="{% url 'travel:editpersontraveling' dadoslp.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-edit"></i> </a>
															<a href="{% url 'travel:apagapersontraveling' dadoslp.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-trash"></i> </a>
															{% else %}
															-
															{% endif %}
														</td>
													</tr>
													{% endfor %}
												{% else %}
													<tr>
														<td colspan="3" align="center">No Person Traveling listed</td>
													</tr>
												{% endif %}
											</tbody>
										</table>
									</div>
									{% elif tab == 'Route' %}
									<legend>
										<h5 class="card-header">Route Traveling {% if travelautorization.is_draft %}<a href="{% url 'travel:addroutetraveling'  travelautorization.id|encrypt_id_tag  %}" class="btn btn-primary btn-sm float-right ">  <i class="far fa-paper-plane"></i> Add Route</a></h5>{% endif %}
									</legend>
									<div class="table-responsive">
										<table class="table table-sm table-bordered">
											<thead class="bg-light">
												<tr class="border-0">
													<th class="border-0">Nu</th>
													<th class="border-0"> Munisipiu</th>
													<th class="border-0"> Deskrisaun</th>
													<th class="border-0">#</th>
												</tr>
											</thead>
											<tbody>
												{% if dados %}
													{% for dadoslp in dados %}
													<tr>
														<td>{{forloop.counter}}</td>
														<td>{{dadoslp.munisipiu}}</td>
														<td>{{dadoslp.deskrisaun}}</td>
														<td>
															{% if travelautorization.is_draft %}
															<a href="{% url 'travel:editroutetraveling' dadoslp.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-edit"></i> </a>
															<a href="{% url 'travel:apagaroutetraveling' dadoslp.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-trash"></i> </a>
															{% else %}
															-
															{% endif %}
														</td>
													</tr>
													{% endfor %}
												{% else %}
													<tr>
														<td colspan="4" align="center">No Route listed</td>
													</tr>
												{% endif %}
											</tbody>
										</table>
									</div>
									{% elif tab == 'Mission' %}
									<legend>
										<h5 class="card-header">Mission {% if travelautorization.is_draft %}<a href="{% url 'travel:addmissiontraveling'  travelautorization.id|encrypt_id_tag  %}" class="btn btn-primary btn-sm float-right ">  <i class="far fa-paper-plane"></i> Add Mission</a></h5>{% endif %}
									</legend>
									<div class="table-responsive">
										<table class="table table-sm table-bordered">
											<thead class="bg-light">
												<tr class="border-0">
													<th class="border-0">Nu</th>
													<th class="border-0"> Mission</th>
													<th class="border-0">#</th>
												</tr>
											</thead>
											<tbody>
												{% if dados %}
													{% for dadoslp in dados %}
													<tr>
														<td>{{forloop.counter}}</td>
														<td>{{dadoslp.mission}}</td>
														<td>
															{% if travelautorization.is_draft %}
															<a href="{% url 'travel:editmissiontraveling' dadoslp.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-edit"></i> </a>
															<a href="{% url 'travel:apagamissiontraveling' dadoslp.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-trash"></i> </a>
															{% else %}
															-
															{% endif %}
														</td>
													</tr>
													{% endfor %}
												{% else %}
													<tr>
														<td colspan="3" align="center">No Mission listed</td>
													</tr>
												{% endif %}
											</tbody>
										</table>
									</div>
									{% else %}
										<h5><center>Please select one of the above tab</center></h5>
									{% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end simple tabs  -->
						
                            </div>
						


							<div class="row">
                                <div class="  col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="card">
                               
                                        <div class="card-body" style="background-color: #efeff6;">
                              
								

			{% include 'timelinetravel.html' %}
									   </div>
									  
                                        </div>
                                        <div class="card-footer bg-white">
                                            <p class="mb-0">2983 Glenview Drive Corpus Christi, TX 78476</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
						</div>



{% endblock content %}