{% load fegt9_mpg_proteksaun_url %}
<center><h4 class="card-header">Timeline </h4></center>
<section class="cd-timeline js-cd-timeline">
      <div class="cd-timeline__container">
            <!-- Preparation inline -->
            <div class="cd-timeline__block js-cd-block">
                  <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
                        <img src="/media/icon/aseita.png" alt="Picture"> 
                  </div>
                  <div class="cd-timeline__content js-cd-content">
                        <b>Prepara husi</b>: {{travelautorization.contract.employeeuser.employee.first_name}} {{travelautorization.contract.employeeuser.employee.last_name}} <br>
                        {% if travelautorization.contract.is_executive %}
                        {{travelautorization.contract.position.name}}
                        {%  else %}
                        {{travelautorization.contract.position.name}} {{travelautorization.contract.department.name}}
                        {% endif %}<br>
                        {{travelautorization.title}}<br>
                        {{travelautorization.created_at}}
                  </div>
            <!-- cd-timeline__content -->
            </div>

            {% for dados in timeline %}
            <div class="cd-timeline__block js-cd-block">
                  <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
                  {% if dados.status == "Acepted" %}
                        <img src="/media/icon/aseita.png" alt="Picture">
                  {% elif dados.status == "Review"  %}
                        <img src="/media/icon/review.png" alt="Picture">
                  {% elif  dados.status == "Rejected" %}
                        <img src="/media/icon/rejeita.png" alt="Picture">
                  {% endif %}
                  </div>

                  <!-- cd-timeline__img -->
                  <div class="cd-timeline__content js-cd-content">
                        {% if forloop.last %}
                        <b> Aprovasaun ikus ha sr/sra  </b>   
                        {% endif %}

                        {{dados.contract.employeeuser.employee.first_name}} {{dados.contract.employeeuser.employee.last_name}} <br>
                        {% if dados.contract.is_executive %}
                              {{dados.contract.position.name}}
                        {% else %}
                              {{dados.contract.position.name}} {{dados.contract.department.name}}
                        {% endif %} | {{dados.status}} <br>

                        {% if dados.contract == request.contract %}
                              {% if forloop.first %}
                              <br>
                              <span class="cd-timeline__date ">  
                                    {% if dados.status == "Acepted" %}
                                    Aproved <br> {{dados.description|safe}}
                                    {%elif dados.status == "Rejected"  %}
                                    Rejected <br> {{dados.description|safe}}
                                    {% else %}
                                          {% if forloop.last %}
                                          <a href="{% url 'travel:aceptedtravelautorization' dados.id|encrypt_id_tag 'last'|encrypt_id_tag %}" id="acceptedButton" class="btn btn-primary btn-sm">Accept </a>  &nbsp;  
                                          {% else %}
                                          <a href="{% url 'travel:aceptedtravelautorization' dados.id|encrypt_id_tag 'nlast'|encrypt_id_tag %}" id="acceptedButton" class="btn btn-primary btn-sm">Accept </a>  &nbsp;
                                          {% endif %}
                                          <a href="{% url 'travel:rijectedtravelautorization' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm">Reject</a>
                                    {% endif %}
                              </span>
                              {% endif %}
                        {% else %}
                              {% if dados.id|encrypt_id_tag|cekaprovasaunrequesuluktravel == "Acepted" %}
                              <br>
                              <span class="cd-timeline__date ">
                                    {% if dados.status == "Acepted" or  dados.status == "Rejected"  %}
                                    {{dados.status}} <br> {{dados.description|safe}}
                                    {% else %}
                                          {% if forloop.last %}
                                          <a href="{% url 'travel:aceptedtravelautorization' dados.id|encrypt_id_tag 'last'|encrypt_id_tag %}" id="acceptedButton" class="btn btn-primary btn-sm">Accept </a>  &nbsp;  
                                          {% else %}
                                          <a href="{% url 'travel:aceptedtravelautorization' dados.id|encrypt_id_tag 'nlast'|encrypt_id_tag %}" id="acceptedButton" class="btn btn-primary btn-sm">Accept </a>  &nbsp;  
                                          {% endif %}
                                          <a href="{% url 'travel:rijectedtravelautorization' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm">Reject</a>
                                    {% endif %}
                              </span>
                              {% endif %}
                        {% endif %}
                  </div>
            </div>
            {% endfor %}
      </div>
</section>


